@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: clip;
}

ul {
    list-style: none;
}


.box {
    gap: 20px;
    background: linear-gradient(145deg, #f6edfc, #f6edfc);
    box-shadow: 10px 10px 19px #f6edfc, -10px -10px 19px #f6edfc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    width: 100%;
    animation: moving 1s ease;
    -webkit-animation: moving 1s ease;
}

.box img {
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box h1 {
    background: linear-gradient(to left, #553c9a, #b393d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}



.form-group {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
  }
  
  .form-group input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .form-group label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .form-group :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .form-group :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

  button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  button {
    --primary-color: #000;
    --hovered-color: #2f1642;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
  button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  button p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Pesquisar";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  button:hover::after {
    width: 100%;
  }
  
  button:hover p::before {
    width: 100%;
  }
  
  button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color);
  }
  
  button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }
  


  .grid {
    padding: 5px;
}

.genero {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 0.02px solid rgba(0, 0, 0, 0.253);
    transition: 0.3s ease-in;
} 

.genero:hover {
    background-color: #b3b3b39a;
    font-weight: bold;
}

.GeneroSelecionado {
    color: white;
    background-image: radial-gradient(circle, #0a66ee, #334fcf, #3e38b0, #402092, #3d0174);
}

.thead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 5px;
}

.headGrid {
    background-color: white;
    padding: 5px;
}

.custom-date-input {
    border-color: #b393d3;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
